<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @pilt.name %>
</p>

<p>
  <b>Description:</b>
  <%= @pilt.description %>
</p>

<p>
  <b>Picture:</b>
  <%= image_tag(@pilt.picture_url, :width => 600) if @pilt.picture.present? %>
	<h3>Comments</h3>
	<% @pilt.comments.each do |comment| %>
  		<div>
    	<strong><%= comment.user_name %></strong>
    	<br />
    	<p><%= comment.body %><p>
  	</div>
<% end %>
<%= render 'comments/form' %>
</p>

<p>
  <b>rating:</b>
  <%= @pilt.rating %>
</p>


<%= link_to 'Edit', edit_pilt_path(@pilt) %> |
<%= link_to 'Back', pilts_path %>
